<div class="wrap">
    <div class="title">
        <h1 mat-dialog-title>Job offer</h1>
    </div>
    <div mat-dialog-content>
        <p><b>Company</b>: {{data.jobOffer.companyName}}</p>
        <p><b>Position</b>: {{data.jobOffer.Position}}</p>
        <p><b>Skills</b>: {{data.jobOffer.Skills}}</p>
        <p><b>Link</b>: {{data.jobOffer.Link}}</p>
        <p><b>Job description</b>: {{data.jobOffer.JobDescription}}</p>
        <p><b>Daily activities description</b>: {{data.jobOffer.DailyActivitiesDescription}}</p>
    </div>
</div>