.register-company-button {
    margin: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.register-company-div {
    display: flex;
    justify-content: center;
}

table {
    width: 100%;
}

.mat-column-jobDescription {
    flex: none;
    width: 50%;
    text-overflow: ellipsis;
}

.row-hover {
    background-color: grey;
}